 
.Div1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    float:left;
}
.Div2{
    width: 240px;
    height: 240px;
    background-color: aqua;
    border:20px solid darkcyan;
    /* border-width:10px; */
    float:left;
    margin-left: 10px;
}
.Div3{
    width: 280px;
    height: 280px;
    background-color: aqua;
    border:20px solid darkcyan;
     padding: 20px;
     margin-left: 10px;

    float:left;

}
.Div4{
    width: 280px;
    height: 280px;
    background-color: aqua;
    border:20px solid darkcyan;
     padding: 20px;
     margin:20px;
    float:left;

}